# Environment files
.env
.env.*

# Other projects refferenced
github/

# Databases
agents/rag/data/chroma/
agents/text2sql/data/

# Build files
__pycache__/
.pytest_cache/
*.pyc
.venv/
venv/
dist/
build/
*.egg-info/
node_modules/
.next/
coverage/
*.log

# Editor and OS files
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/

# Test screenshots
__screenshots__/
