# Environment files
.env
.env.*

# Other projects refferenced
github/

# Databases
agents/rag/data/chroma/
agents/text2sql/data/

# Build files
__pycache__/
*.pyc
.venv/
venv/
dist/
*.egg-info/

# Editor and OS files
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
